:root {
    --bgcolor: #a49a91;
    --beige1: #b5b2a2;
    --beige2:  #bbb5a6;
    --white: #ffffff;
  }

.oscilloscope_body {
    text-align: center;
    border: 10px solid var(--beige1);
    border-radius: 10px;
    background-color: var(--beige2);
    box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width:1050px; */
    width:80%;
    height:60%;
    /* border:solid green; */

}

h1 {
    margin-bottom: 20px;
}

/* style oscilloscope screen */
canvas {
    background-color: #18b2bf;
    border: 2px solid #f7f8f6;
    border-radius: 10px;
    box-shadow:0px 0px 50px 12px black inset ; /*black vingette around screen*/
    width:80%;
    /* border:solid orange; */
}

/* style all controls */
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* border:solid orange; */
}

/* style buttons, slider, and labels */
.control-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

}

.control-group label {
    margin-right: 10px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

/* style sliders */
input[type="range"] {
    width: 200px;
    margin: 0 10px;
    border-radius: 5px;
}

/* style control buttons */
.control-button {
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 0.5rem; /* rounded-lg */
    font-weight: 600; /* font-semibold */
    color: #1f2937; /* text-gray-800 */
    background-image: linear-gradient(to top right, #f5f6f7, #d0d2d4); /* bg-gradient-to-tr */
    box-shadow:
      inset 2px 2px 4px #ffffff,
      inset 4px -4px 7px #b5b7ba,
      0 4px 6px rgba(0, 0, 0, 0.1); /* shadow */
    width: 40px; /* w-[40px] */
    transition: all 400ms ease-in-out; /* transition */
  }

#canvasContainer {
    
    display: flex;
    flex-direction: row;
    /* border:solid purple; */
    align-items: center;
    margin:auto;
}

/* MEDIA QUERY'S */
@media screen and (min-width: 1925px) {
    .container {
        width:70%;
        height:60%;
    }
}

@media screen and (max-width: 1000px) {
    #canvasContainer {
        flex-direction: column;
    }
}

/* For Iphone */
@media screen and (max-width: 400px) {

}




