:root {
    --bgcolor: #a49a91;
    --beige1: #b5b2a2;
    --beige2:  #bbb5a6;
    --white: #ffffff;
  }

body {
    background-color: var(--bgcolor);
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    justify-content:center;
    align-items: center;
    border:solid red;
    margin:0;
    height:100vh;
    overflow:hidden;
}

.container {
    text-align: center;
    border: 10px solid var(--beige1);
    border-radius: 10px;
    background-color: var(--beige2);
    box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width:1050px; */
    width:80%;
    height:75%;
    border:solid green;
}

h1 {
    margin-bottom: 20px;
}

/* style oscilloscope 'screen' */
canvas {
    background-color: #18b2bf;
    border: 2px solid #f7f8f6;
    border-radius: 10px;
    box-shadow:0px 0px 50px 12px black inset ; /*black vingette around screen*/
    width:90%;
    border:solid orange;
}

/* style controls */
.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border:solid red;
    width:fit-content;
}

.control-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.control-group label {
    margin-right: 10px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}


/* style sliders */
input[type="range"] {
    width: 200px;
    margin: 0 10px;
    border-radius: 5px;
}


/* style control buttons */
button {
    background-color: #111;
    color: white;
    border: 1px solid white; 
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* control button hover action */
button:hover {
    background-color: #333;
    box-shadow: 0 0 10px gray;
}

button:active {
    background-color: #555;
}


#full {
    width:95%;
    height:75%;
    display: flex;
    flex-direction: row;
    border:solid purple;
    align-items: center;
    margin:auto;
}



@media screen and (min-width: 1925px) {
    .container {
        width:70%;
        height:60%;
    }
  }