html, body {
    min-height: 100vh; 
    min-height: -webkit-fill-available;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

.container-fluid, .row, #right {
    height: 100%;
}

#right {
    background: var(--bs-secondary-bg);
    padding: 2%;
    margin-top:96px;
}

#favicon {
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

#navbar {
    position:fixed;
    z-index: 5;
}

#navtitle {
    font-size: 27px;   
}

.nav-link {
    margin: 5px;
    transition: 0.3s ease;
}

.nav-link.active {
    font-weight: bold;
}

#cardimg2, #cardimg3 {
    height: 190px;
}

#about-me, #skill, #exp, #resume, #cards {
    height: fit-content;
}

.accordion-item {
    margin-top: 10px;
}

.iconcard {
    margin: 10px; 
}

.iconbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.cardshape {
    width: 130px; 
    height: 190px;
}

#cardimg1 {
    transform: scale(0.7); /* Corrected scale */
}

#cardimg3 {
    transform: scale(0.8); /* Corrected scale */
}

.card-body { 
    padding-top: 0;
}

#about-me {
    margin-top: 20px;
}

#project3 {
    width:fit-content;
    height:fit-content;
}
.citem {
    margin-top:20px;
    margin-bottom:20px;
} 

.cardtext {
  text-align: left;  
}





/* Adjust for small screens */
@media (max-width: 768px) {
    #right {
        width: 100%; /* Make content full width */
        margin-top:112px;
    }

    .card {
        width: 120px; /* Reduce card size on smaller screens */
        height: 180px;
    }

     .row {
        justify-content: center; /* Center cards horizontally */
    }
    
    #cardimg1, #cardimg3 {
        transform: scale(0.6); /* Adjust image scaling */
    }

    #about-me {
        margin-top:10px;
    }

    #navtitle {
        font-size: 20px; /* Smaller font size for titles */
    }

    #cardimg1, #cardimg3 {
        transform: scale(0.5); /* Further reduce image scaling */
    }

    .nav-link {
        font-size: 14px; /* Smaller font for nav links */
    }

    .proj {
        width:100%;
    }

    .citem {
        width:80%;
        height:80%;
    }

    .smallproj {
        width:100%;
        height:fit-content;
    }
}