body {
    min-height: 100vh; 
    min-height: -webkit-fill-available;
    font-family: 'Catamaran', sans-serif;
  
}

html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

.container-fluid, .row, #right {
    height: 100%;
}

#left {
    background: var(--bs-dark);
    color: white;
    width: 20%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

#right {
    background: var(--bs-secondary-bg);
    padding: 0;
    
    margin-left: 20%; /* Leave space for the fixed sidebar */
    width: 80%;
}

#favicon {
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

#navtitle {
    font-size: 27px;   
}

.nav-link {
    margin: 5px;
    transition: 0.3s ease;
}

.nav-link.active {
    font-weight: bold;
}

#cardimg2, #cardimg3 {
    height: 190px;
}

#about-me, #skill, #exp, #resume, #cards {
    height: fit-content;
}

.accordion-item {
    margin-top: 10px;
}

.iconcard {
    margin: 10px; 
}

.iconbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.card {
    width: 130px; 
    height: 190px;
}

#cardimg1 {
    transform: scale(0.7); /* Corrected scale */
}

#cardimg3 {
    transform: scale(0.8); /* Corrected scale */
}

.card-body { 
    padding-top: 0;
}

#pcard {
    height:fit-content;
    width:fit-content;
}

#cardimg2{
    padding-bottom: 5px;
}